version: '3.7'

services:
  minio1:
    image: minio/minio:latest
    volumes:
      - ./data:/data
    environment:
      - MINIO_ROOT_USER=root
      - MINIO_ROOT_PASSWORD=Strong!password
      - MINIO_SERVER_URL=http://${FQDN}:9000
    restart: unless-stopped
    command: server http://minio1/data --console-address ":9001"
    depends_on:
      - certbot
  
  nginx:
    image: nginx:stable-alpine
    volumes:
      - ./nginx/conf.d:/etc/nginx/templates:ro
      - ./certbot/etc:/etc/letsencrypt
      - ./certbot/var:/var/lib/letsencrypt
    environment:
      - NGINX_HOST=${FQDN}
    ports:
      - "9001:9001"
      - "9000:9000"
    depends_on:
      - certbot
      - minio1
      # - minio2
      # - minio3
    restart: always

  certbot:
    build: ./certbot
    container_name: 'certbot'
    volumes:
      - ./certbot/etc:/etc/letsencrypt
      - ./certbot/var:/var/lib/letsencrypt
      - ./godaddy-credential.ini:/etc/letsencrypt/godaddy.ini
    command: > 
            certonly --non-interactive 
              --agree-tos 
              --email ${CERTBOT_EMAIL} 
              --authenticator dns-godaddy
              --dns-godaddy-propagation-seconds 20 
              --dns-godaddy-credentials /etc/letsencrypt/godaddy.ini 
              --server https://acme-v02.api.letsencrypt.org/directory
              --keep-until-expiring
              --expand
              --key-type rsa 
              -d ${FQDN}
